<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Travista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TravistaASP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true">
</head>
<body>
        <div class='dashboard'>
            <div class="dashboard-nav">
                <header>
                    <a class="menu-toggle"><i class="fas fa-bars"></i></a>
                <a href="@Url.Action("Index", "Home")" class="brand-logo">
                        <span>TRAVISTA</span>
                    </a>
                </header>
                <nav class="dashboard-nav-list">
                <a href="@Url.Action("Index", "Home")" class="dashboard-nav-item">
                        <i class="fas fa-home"></i>
                        Home
                </a>
                <a href="@Url.Action("Index", "Admin")" class="dashboard-nav-item active">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <div class='dashboard-nav-dropdown'>
                    <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fas fa-users"></i> User
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Users" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Users</a>
                    </div>
                </div>
                <div class='dashboard-nav-dropdown'>
                    <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-feather"></i>Promo
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Promo" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Promo</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Promo" asp-action="AddPromo"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Promo</a>
                    </div>
                </div>
                <div class='dashboard-nav-dropdown'>
                    <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fas fa-map-location-dot"></i> Destinations
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Destination" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Destinations</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Destination" asp-action="AddDestination"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Dest.</a>
                    </div>
                </div>

                    <div class='dashboard-nav-dropdown'>
                        <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="fas fa-van-shuttle"></i> Travel Agencys
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="TravelAgency" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Travelage.</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="TravelAgency" asp-action="AddTravelAgency"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Travelage.</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-regular fa-star"></i>Reviews
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Review" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Reviews</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Review" asp-action="AddReview"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Review</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-regular fa-compass"></i>Countrys
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a class="dashboard-nav-dropdown-item" asp-controller="Country" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Countrys</a>
                            <a class="dashboard-nav-dropdown-item" asp-controller="Country" asp-action="AddCountry"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Country</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-route"></i>Travel Tips
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a class="dashboard-nav-dropdown-item" asp-controller="TravelTip" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Travel Tips</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="TravelTip" asp-action="AddTravelTip"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Travel Tip</a>
                        </div>
                    </div>

                <div class='dashboard-nav-dropdown'>
                    <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-address-book"></i>Contact Us
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="ContactUs" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Contact Us</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="ContactUs" asp-action="AddContactUs"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Contact Us</a>
                    </div>
                </div>

                <div class='dashboard-nav-dropdown'>
                    <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-address-book"></i>Ndertesa
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Ndertesa" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Ndertesa</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Ndertesa" asp-action="AddNdertesa"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Ndertesa</a>
                    </div>
                </div>

                <div class='dashboard-nav-dropdown'>
                    <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fa-solid fa-address-book"></i>Lifti
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Lifti" asp-action="Index"><i class="fas fa-list-ol" style="margin-right: 5px;"></i>All Lifti</a>
                        <a class="dashboard-nav-dropdown-item" asp-controller="Lifti" asp-action="AddLifti"><i class="fas fa-square-plus" style="margin-right: 5px;"></i>Create Lifti</a>
                    </div>
                </div>

                    <div class="nav-item-divider"></div>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark"><a class="dashboard-nav-item"><i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i> Logout</a></button>
                    </form>
               
                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'><a class="menu-toggle"><i class="fas fa-bars"></i></a></header>
                <div class='dashboard-content'>
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
</body>
</html>