<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travista</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colorway.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sign-in.css" asp-append-version="true">
    @RenderSection("Scripts", required: false)
</head>
<body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-color shadow">
            <div class="container">

                <div class="collapse navbar-collapse d-lg-flex">
                
                    <a class="navbar-brand col-lg-3 me-0" href="@Url.Action("Index", "Home")">
                    <img src="~/images/travista-light.png" alt="Travista." width="150" height="60">
                    </a>

                    <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                            <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("AddUserTravelTip", "TravelTip")"><i class="fa-regular fa-compass" style="margin-right: 5px;"></i>Add travel tips</a>
                            </li>
                        <div class="vr" style="color: white;"></div>
                            <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index", "Admin")"><i class="fa-solid fa-gavel" style="margin-right: 5px;"></i>Dashboard</a>
                            </li>
                        <div class="vr" style="color: white;"></div>
                            <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link active">Dropdown</a>
                                <div class="dropdown-content">
                                    <a class="nav-link active" href="@Url.Action("AddUserDestination", "Destination")"><i class="fa-regular fa-map" style="margin-right: 5px;"></i>Add Place</a>
                                    <a class="nav-link active" href="@Url.Action("AddUserReview", "Review")"><i class="fa-regular fa-star-half-stroke" style="margin-right: 5px;"></i>Add Review</a>
                                    <a class="nav-link active" href="@Url.Action("AddUserTravelAgency", "TravelAgency")"><i class="fa-solid fa-van-shuttle" style="margin-right: 5px;"></i>Add Agency</a>
                                </div>
                            </div>
                            </li>
                         <div class="vr" style="color: white;"></div>
                    </ul>

                <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                    <partial name="_LoginPartial" />
                </div>
                </div>
            </div>
        </nav>
        <main role="main">
            @RenderBody()
        </main>

    <div class="container footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 bfoot">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Travista, SHPK</p>

            <a href="/"
               class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="~/images/travista-light.png" alt="Travista." width="150" height="60">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a class="nav-link px-2 text-body-secondary">F.A.Q.</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Terms of Use</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Site Map</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Help</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Contact us</a></li>
            </ul>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)>
</body>
</html>
