@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Destinations";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true">
</head>
<body>
    <div class="mx-custom">
        <table>



            <tr>

                <th>#</th>

                <th>Name</th>

                <th>Tag</th>

                <th>Description</th>

                <th>Address</th>

                <th>Additional Address</th>

                <th>Image</th>

                <th>City #ID</th>

                <th>Action</th>
            </tr>

            @foreach (var dest in Model)
            {
                <tr>
                    <th scope="row">@dest.ID_Destination</th>
                    <td>@dest.Emri</td>
                    <td>@dest.Tag</td>
                    <td>@dest.Description</td>
                    <td>@dest.Address</td>
                    <td>@dest.AdditionalAddress</td>
                    <td>
                        <a href="@Url.Action("IndexDestination", "Image", new { clickedDest = dest.ID_Destination })"><i class="fas fa-eye" style="margin-right: 3px;"></i>View</a>
                        <strong>|</strong>
                        <a asp-controller="Image" asp-action="AddDestinationImages" asp-route-ID_Destination="@dest.ID_Destination"><i class="fas fa-plus" style="margin-right: 3px;"></i>Add</a>
                    </td>
                    <td>@dest.ID_City</td>
                    <td>
                        <a href="@Url.Action("ViewDestination", "Destination", new { ID_Destination = dest.ID_Destination })"><i class="fas fa-eye" style="margin-right: 3px;"></i>View</a>

                    </td>
                </tr>
            }

        </table>
    </div>
    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
</body>
</html>