

@model Travista.Models.Domain.Destination
@using Travista.Controllers;
<head>
    <link rel="stylesheet" href="~/css/colorway.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/detailscarousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/weather.css" asp-append-version="true">
</head>

<html>
    <body>
    <div class="container">
        <div class="row">
            <div class="slider col">
                <div class="slides">
                    <div class="slide active" id="slide-1">
                        <img src="@Url.Content(Model.Foto)" class="rounded-3" alt="image-1">
                    </div>
                    <div class="slide" id="slide-2">
                        <img src="~/images/slider/pht2.jpg" class="rounded-3" alt="image-2">
                    </div>
                    <div class="slide" id="slide-3">
                        <img src="~/images/slider/pht3.jpeg" class="rounded-3" alt="image-3">
                    </div>
                    <div class="slide" id="slide-4">
                        <img src="~/images/slider/pht4.jpg" class="rounded-3" alt="image-4">
                    </div>
                    <div class="slide" id="slide-5">
                        <img src="~/images/slider/pht3.jpeg" class="rounded-3" alt="image-3">
                    </div>
                </div>

                <div class="controls mt-3">
                    <button id="button-1" class="button rounded-3 me-2">
                        <div class="picture-card card-img-top square-image">
                            <img src="@Url.Content(Model.Foto)" class="img-fluid picture-card__image" />
                        </div>
                    </button>
                    <button id="button-1" class="button rounded-3 me-2">
                        <div class="picture-card card-img-top square-image">
                            <img src="~/images/slider/pht2.jpg" class="img-fluid picture-card__image" />
                        </div>
                    </button>
                    <button id="button-1" class="button rounded-3 me-2">
                        <div class="picture-card card-img-top square-image">
                            <img src="~/images/slider/pht3.jpeg" class="img-fluid picture-card__image" />
                        </div>
                    </button>
                    <button id="button-1" class="button rounded-3">
                        <div class="picture-card card-img-top square-image">
                            <img src="~/images/slider/pht4.jpg" class="img-fluid picture-card__image" />
                        </div>
                    </button>
                </div>
            </div>

            <div class="col" style="margin: 2rem 0px;">
                <h1 class="txtcolor">@Model.Emri</h1>
                <h4 class="txtsec mt-2">@Model.Tag</h4>
                <div class="txtmain mt-2">
                    @if (Model.Reviews.Any())
                    {
                        double averageRating = Model.Reviews.Average(review => review.Rating);
                        int countRating = Model.Reviews.Count();
                        int parsedAvgRating = Convert.ToInt32(averageRating);
                        <div class="star-rating">
                            <span class="fa fa-star @((parsedAvgRating >= 1 ? "checked" : ""))"></span>
                            <span class="fa fa-star @((parsedAvgRating >= 2 ? "checked" : ""))"></span>
                            <span class="fa fa-star @((parsedAvgRating >= 3 ? "checked" : ""))"></span>
                            <span class="fa fa-star @((parsedAvgRating >= 4 ? "checked" : ""))"></span>
                            <span class="fa fa-star @((parsedAvgRating >= 5 ? "checked" : ""))"></span>
                            (<span class="fw-bold">@averageRating Rating</span>) <span class="fw-bold">· </span>@countRating Reviews
                        </div>
                    }
                    else
                    {
                        <p class="txtmain"> No Rating</p>
                    }
                    <h6 class="mt-2 txtsec">Created by - @Model.FK_Users.Fullname</h6>
                    <hr />
                </div>

                <div class="address txtmain">
                    <div class="txtsec">City Name:</div>
                    <h5>@Model.FK_City.name</h5>
                    <div class="txtsec mt-3">Address:</div>
                    <h5>@Model.Address</h5>
                    <div class ="txtsec mt-3">Additional Address Info:</div>
                    <h5>@Model.AdditionalAddress</h5>
                </div>

                <h5 class="txtmain mt-4">Weather in - <span class="txtcolor">@Model.FK_City.name</span></h5>
                <div class="weather-wrapper txtmain">
                    <div class="weather-card shadow">
                        <div class="weather-icon" id="icon"></div>
                        <h1 class="mb-5 txtmain fw-bold" id="temp">26º</h1>
                        <p class="fw-bold txtmain">@Model.FK_City.name</p>
                    </div>
                </div>

                @{
                    string cityName = Model.FK_City.name;
                }

                <script>

                    var cityFromASP = "@cityName";

                    function fetchWeather(cityName, cardId) {
                        const weather = '9751983c29e2c903a3b00a44308386a4';
                        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=${weather}&units=metric`;

                        fetch(apiUrl)
                            .then(response => response.json())
                            .then(data => {
                                const weatherIconElement = document.querySelector('.weather-card .weather-icon');
                                const temperatureElement = document.getElementById('temp');

                                const weatherMain = data.weather[0].main;
                                const temperature = `${Math.round(data.main.temp)}°`;

                                if (weatherMain === 'Clear') {
                                    weatherIconElement.classList.add('sun');
                                } else {
                                    weatherIconElement.classList.add('cloud');
                                    weatherIconElement.innerHTML = '<i class="fa-solid fa-cloud biggericon"></i>';
                                }

                                temperatureElement.textContent = temperature;
                            })
                            .catch(error => console.error('Error fetching weather data:', error));
                    }

                    fetchWeather(cityFromASP);
                </script>
            </div>
        </div>

        <hr class="txtmain"/>

        <h2 class="mt-4">Description and Reviews of <span class="txtcolor">@Model.FK_City.name</span>.</h2>

        <nav class="container navbar navbar-expand-lg navbar-dark nav-seccolor">
            <div class="collapse navbar-collapse d-lg-flex">
                <ul class=" navbar-nav col-lg-6 ">
                    <li class="nav-item"><a class="nav-link"><button id="scrollToD">Description</button></a></li>
                    <li class="nav-item"><a class="nav-link"><button id="scrollToR">Reviews</button></a></li>
                </ul>
            </div>
        </nav>

        <section id="scrollToDesc">
            <p class="txtmain">
                <p>
                    Nestled atop a rugged mountain peak, the Kalaja Fortress in Prizren stands as a testament to the city's rich history and offers a truly captivating experience for visitors. For those seeking a glimpse into the past and an awe-inspiring panoramic view, a visit to this ancient fortress is an absolute must.

                </p>
                <p>
                    Ascending the mountain to reach the Kalaja Fortress requires a fair amount of stamina and determination. The path is steep and demands a level of physical endurance. However, the arduous journey is rewarded with an unforgettable sight that awaits at the top.

                </p>
                <p>
                    As I stood among the weathered ruins of the castle, the sheer grandeur of the view before me left me breathless. The panoramic vista that unfolded showcased the entire city of Prizren in all its glory. From the towering minarets of the mosques to the cascading terracotta rooftops, the view was nothing short of spectacular.

                </p>
                <p>
                    Beyond the breathtaking scenery, the Kalaja Fortress itself holds a profound historical significance. Originally built during the Byzantine era, the fortress has witnessed countless battles and stood as a stronghold for various empires throughout the centuries. Exploring its ancient walls and remnants, one can't help but feel a deep sense of reverence for the lives and stories that unfolded within these hallowed grounds.

                </p>
                <p>
                    While the journey to the Kalaja Fortress may be physically demanding, the rewards it offers are immeasurable. It provides an opportunity to connect with the city's rich heritage, to admire its resilience, and to appreciate the stunning natural beauty that surrounds it.

                </p>
                <p>
                    For history enthusiasts, nature lovers, and those seeking a truly remarkable vantage point, a visit to the Kalaja Fortress is an absolute must. It is a testament to the enduring spirit of Prizren and offers a glimpse into its storied past. So, lace up your hiking boots, embrace the challenge, and prepare to be captivated by the breathtaking view that awaits at the Kalaja Fortress.

                </p>
            </p>
        </section>

        <hr class="txtmain" />
        <br/>
        <br />
        <br />
                <br/>
        <br />
        <br />
                <br/>
        <br />
        <br />
                <br/>
        <br />
        <br />
        <br />
        <br />
        <br />
                <br/>
        <br />
        <br />
                <br/>
        <br />
        <br />
                <br/>
        <br />
        <br />
                <br/>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <section id="scrollToRev" class="mt-5">
            <h1 class="txtcolor">Reviews</h1>
            <p class="txtmain">
                <p>
                    Ascending the mountain to reach the Kalaja Fortress requires a fair amount of stamina and determination. The path is steep and demands a level of physical endurance. However, the arduous journey is rewarded with an unforgettable sight that awaits at the top.

                </p>
                <p>
                    As I stood among the weathered ruins of the castle, the sheer grandeur of the view before me left me breathless. The panoramic vista that unfolded showcased the entire city of Prizren in all its glory. From the towering minarets of the mosques to the cascading terracotta rooftops, the view was nothing short of spectacular.

                </p>
                <p>
                    Beyond the breathtaking scenery, the Kalaja Fortress itself holds a profound historical significance. Originally built during the Byzantine era, the fortress has witnessed countless battles and stood as a stronghold for various empires throughout the centuries. Exploring its ancient walls and remnants, one can't help but feel a deep sense of reverence for the lives and stories that unfolded within these hallowed grounds.

                </p>
                <p>
                    While the journey to the Kalaja Fortress may be physically demanding, the rewards it offers are immeasurable. It provides an opportunity to connect with the city's rich heritage, to admire its resilience, and to appreciate the stunning natural beauty that surrounds it.

                </p>
                <p>
                    For history enthusiasts, nature lovers, and those seeking a truly remarkable vantage point, a visit to the Kalaja Fortress is an absolute must. It is a testament to the enduring spirit of Prizren and offers a glimpse into its storied past. So, lace up your hiking boots, embrace the challenge, and prepare to be captivated by the breathtaking view that awaits at the Kalaja Fortress.

                </p>
            </p>
        </section>


    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/car.js"></script>
    <script src="~/js/scroll.js"></script>

    </body>
</html>