@model List<Travista.Models.Domain.TravelAgency>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true">
</head>
<body>
    <div class="mx-custom">
        <table>



            <tr>

                <th>#</th>

                <th>Name</th>

                <th>Description</th>

                <th>Email</th>

                <th>Price</th>

                <th>Image</th>

                <th>City #ID</th>

                <th>Street Address</th>

                <th>Additional Info</th>

                <th>Postal Code</th>

                <th>Phone Number</th>

                <th>Action</th>
            </tr>


            @foreach (var travelage in Model)
            {
                <tr>
                    <th scope="row">@travelage.ID_TravelAgency</th>
                    <td>@travelage.emri</td>
                    <td>@travelage.description</td>
                    <td>@travelage.email</td>
                    <td>@travelage.price €</td>
                    <td>
                        <a href="@Url.Action("IndexTravelAgency", "Image", new { clickedTravel = travelage.ID_TravelAgency })"><i class="fas fa-eye" style="margin-right: 3px;"></i>View</a>
                        <strong>|</strong>
                        <a asp-controller="Image" asp-action="AddTravelAgencyImages" asp-route-ID_TravelAgency="@travelage.ID_TravelAgency"><i class="fas fa-plus" style="margin-right: 3px;"></i>Add</a>
                    </td>
                    <td>@travelage.ID_City</td>
                    <td>@travelage.streetAddress</td>
                    <td>@travelage.additionalAddressInfo</td>
                    <td>@travelage.postalCode</td>
                    <td>@travelage.phoneNumber</td>
                    <td><a href="@Url.Action("ViewTravelAgency", "TravelAgency", new { ID_TravelAgency = travelage.ID_TravelAgency })"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>View</a>

                </td>
                </tr>
            }

        </table>
    </div>
    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
</body>
</html>